body{
    box-sizing: border-box;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px
}
.cardCounter{
    margin-bottom: auto;
    width: 240px;
    margin-left: 10px;
}
.card{
    width: 233px;
    border: 1px solid #0000001a;
    background-color: #ffeeee;
    border-radius: 10px;
    text-align: left;
}
.image{
    margin: auto;
    width: 100%;
    height: 140px;
    border-radius: 10px;
}
.image img{
    width: 90%;
    height: 140px;
    border-radius: 5px;
    margin: 10px 11px;
}
.cardInfo{
    padding: 0px 12px;
}
span{
    font-weight: 700;
}
p{
    font-weight: 500;
    margin: 5px 0px;
}
p:first-child{
    margin-top: 19px;
}
.countBtn{
    background-color: #ff5200;
    color: white;
    border:none;
    padding: 10px 17px;
    border-radius: 6px;
    margin: 11px 57px;
}